---
- name: Check user input
  import_tasks: "init.yml"
  tags: [ always ]

- import_tasks: docker-init.yml
  tags: [ always ]

- name: Configure accounts
  tags: [ config ]
  template:
    dest: "{{ mail_persist_folder }}/config/postfix-accounts.cf"
    src: postfix-accounts.cf.j2
    mode: 0600
  register: accounts
  notify: Restart mail service

- name: Configure aliases
  tags: [ config ]
  template:
    dest: "{{ mail_persist_folder }}/config/postfix-virtual.cf"
    src: postfix-virtual.cf.j2
    mode: 0600
  notify: Restart mail service

- name: Configure send restrictions
  tags: [ config ]
  template:
    dest: "{{ mail_persist_folder }}/config/postfix-send-access.cf"
    src: postfix-send-access.cf.j2
    mode: 0600
  notify: Restart mail service

- name: Configure receive restrictions
  tags: [ config ]
  template:
    dest: "{{ mail_persist_folder }}/config/postfix-receive-access.cf"
    src: postfix-receive-access.cf.j2
    mode: 0600
  notify: Restart mail service

- name: Configure custom Amavis settings
  tags: [ config ]
  template:
    dest: "{{ mail_persist_folder }}/amavis/custom-config.conf"
    src: amavis-custom-config.conf.j2
    mode: 0600
  notify: Restart mail service

- name: Run docker container
  import_tasks: "docker.yml"
  tags: [ install ]

# MUST be run after accounts are configured
- import_tasks: docker-dkim.yml
  tags: [ config, dkim ]
  # when: accounts.changed
