# {{ ansible_managed }}

{% for account in mail_accounts %}
{% for restriction in account.restrict %}
{% if restriction == "receive" %}}
{{ account.username }}@{{ account.domain }} REJECT
{% endif %}
{% endfor %}
{% endfor %}
